@page "{id?}"
@model TracksModel
@{
    ViewData["Title"] = "Tracks";
}

<h3 class="mb-3">@ViewData["Title"]</h3>
<div class="row">
    <div class="col-12">
        @foreach (var track in Model.Tracks)
        {
            <div class="card mb-3">
                <h4 class="card-header">@track.name</h4>
                <div class="card-body">
                    <p class="card-text">@track.description</p>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">Request key</span>
                        <input value="@track.request_key" class="form-control" autocomplete="off" disabled />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
